@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
@import url('bootstrap/dist/css/bootstrap.min.css');

html, body {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  font-family: "NanumGothicExtrabold";
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-wrap {
  width: 100%;
  min-height: 100%;

  > {
    .contents {
      > {
        .header {

        }
        .content {
          width: 100%;
          height: 100%;
          margin: 20% auto;
          display: flex;
          justify-content: center;
          align-items: center;
          >.frame{
            display: flex;
            justify-content: center;
            position: relative;
            background-image: url('../images/web/frame.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 746px;
            height: 819px;
            >.panel-group{
              position: absolute;
              top: 30%;
              width: 80%;
              >.accrodion{

              }
            }
            >.book-title{
              position: absolute;
              top: 5%;
              right: 35%;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 2.8em;
              width: 62%;
              height: 13%;
              border-radius: 0.5em;
              background-color: rgb(255,255,255);
            }
            >.book-cover{
              width: 189px;
              height: 251px;
            }
            >.footer{
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              bottom: 0;
              width: 100%;
              height: 6%;
            }
          }
        }
      }
    }
  }
}

.title > .h1 {
  font-family: 'NanumGothicExtrabold',sans-serif;
  text-align: center;
  white-space: nowrap;
  margin: 35px 0;
}

.accordion-item{
  border-radius: 5px;
}