@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
@import url('bootstrap/dist/css/bootstrap.min.css');

html, body {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  font-family: "NanumGothicExtrabold";
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-wrap {
  background-image: url('../images/web/society-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  > {
    .contents {
      > {
        .header {

        }
        .content {
          position: absolute;
          top: 20%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          >.frame{
            z-index: 0;
            display: flex;
            justify-content: center;
            position: relative;
            background-image: url('../images/web/frame.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 38.9vw;
            height: 75.8vh; 
            // width: 746px;
            // height: 819px;
            >.img-box{
              position: absolute;
              bottom: 105%;
              left: 2%;
              :first-child{
                margin-right: 45px;
              }
              >.cloud1{ 
                position:absolute;
                top: 198%;
                left: 191%;
              }
              >.cloud2{ 
                position: absolute;
                left: 200%;
              }
              >.cloud3{ 
                position: absolute;
                right: 110%;
                // top: 20%;
              }
            }
            >.accordion-box{     
              display: flex;
              overflow-y: scroll;
              width: 90%;
              height: 64%;
              position: absolute;
              top: 27%;
              left: 5%;
              &::-webkit-scrollbar {
                width: 5px;
                // height: 5px;
                background: #ffffff;
              }
              &::-webkit-scrollbar-thumb {
                border-radius: 3.5px;
                background-color: #ced4da;
            
                &:hover {
                  background-color: #adb5bd;
                }
              }
              &::-webkit-scrollbar-track {
                background: #ffffff;
              }
              >.panel-group{
                position: absolute;
                top: 2%;
                left: 7%;
                width: 90%;
              }
            }
            >.top{
              >.book-title{
                position: absolute;
                top: 5%;
                right: 35%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2.8em;
                width: 62%;
                height: 13%;
                border-radius: 0.5em;
                background-color: rgb(255,255,255);
              }
              >.book-cover{
                position: absolute;
                left: 70%;
                bottom: 82%;
                width: 9.8vw;
                height: 23.3vh;
                // width: 189px;
                // height: 251px;
              }
            }
            >.footer{
              font-size: 15px;
              font-weight: 800;
              color: #82593b;
              z-index: -1;
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              bottom: 0;
              width: 100%;
              height: 6%;
            }
          }
        }
      }
    }
  }
}

.title > .h1 {
  font-family: 'NanumGothicExtrabold',sans-serif;
  text-align: center;
  white-space: nowrap;
  margin: 35px 0;
}

.accordion-item {
  border: none  !important;
  >.accordion-header{
    margin-bottom: 25px;
  }
}
.accordion-button{
  font-size: 25px !important;
  padding: 0.5rem 1.25rem !important;
  color: white !important;
  background-color: #00b05b !important;
  border-radius: 15px !important;
}
.accordion-button::after{
  width: 1.8rem !important;
  height: 1.8rem !important;
  background-size: 1.8rem !important;
  background-image: url('../images/web/accordion-button.png') !important;
}
.accordion-header button >.number{
  font-size: 35px;
  width:55px;
  height: 55px;
  position: absolute !important;
  left: -4%;
  display: flex;
  justify-content: center;
  background-color: #5bd59a;
  border-radius: 50%;
  border: 3px solid;
  border-color: #00b05b;
}
.accordion-header button >.title{
  font-weight: 800;
  position: absolute;
  left: 6%;
}
.accordion-body{
  font-size: 20px;
  padding: 0 1rem 1rem 1rem !important;
}
.accordion-body ul{
  padding-inline-start: 0;
}
.accordion-body ul >.img-container a{
  margin-left: 10px;
}
