@keyframes item1arrow {
    from {
        width: 0%;
        height: 0%;
    }
    to {
        width: 5%;
        height: 18%;
    }
}
@keyframes item1dotarrow {
    from {
        opacity:1;
        width: 0%;
        height: 0%;
    }
    to {
        opacity:1;
        width: 5%;
        height: 30%;
    }
}

@keyframes item2arrow {
    from {
        width: 0%;
        height: 0%;
    }
    to {
        width: 10%;
        height: 16%;
    }
}
@keyframes item2dotarrow {
    from {
        opacity:1;
        width: 0%;
        height: 0%;
    }
    to {
        opacity:1;
        width: 9%;
        height: 28%;
    }
}

@keyframes item3arrow {
    from {
        width: 0%;
        height: 0%;
    }
    to {
        width: 8%;
        height: 30%;
    }
}
@keyframes item3dotarrow {
    from {
        opacity:1;
        width: 0%;
        height: 0%;
    }
    to {
        opacity:1;
        width: 11%;
        height: 14%;
    }
}

@keyframes shake {
    from{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(10deg);
    }
    40%{
        transform: rotate(-10deg);
    }
    60%{
        transform: rotate(10deg);
    }
    80%{
        transform: rotate(-10deg);
    }
    to{
        transform: rotate(0deg);
    }
}

@keyframes penwidth {
    from{
        width: 200%;
    }
    to{
        width: fit-content;
    }
}

@keyframes slidout {
    from{
        width: 90%;
    }
    30%{
        opacity: 1;
    }
    to{
        width: 0%;
        opacity: 0;
    }
}

@keyframes fadeinCo1 {
    from {
        opacity:0;
        top: 63%;
    }
    to {
        opacity:1;
        top: 68%
    }
  }