@keyframes item1arrow_3 {
  from {
      width: 0%;
      height: 0%;
  }
  to {
      width: 40%;
      height: 49%;
  }
}
@keyframes item1dotarrow_3 {
  from {
      opacity:1;
      width: 0%;
      height: 0%;
  }
  to {
      opacity:1;
      width: 24%;
      height: 64%;
  }
}
@keyframes item2arrow_3 {
  from {
      width: 0%;
      height: 0%;
  }
  to {
      width: 49%;
      height: 87%;
  }
}
@keyframes item2dotarrow_3 {
  from {
      opacity:1;
      width: 0%;
      height: 0%;
  }
  to {
      opacity:1;
      width: 49%;
      height: 98%;
  }
}


@keyframes shake {
  from{
      transform: rotate(0deg);
  }
  20%{
      transform: rotate(10deg);
  }
  40%{
      transform: rotate(-10deg);
  }
  60%{
      transform: rotate(10deg);
  }
  80%{
      transform: rotate(-10deg);
  }
  to{
      transform: rotate(0deg);
  }
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

@keyframes fadeinCo1_3{
  from {
      opacity:0;
      top: 62%;
  }
  to {
      opacity:1;
      top: 63%
  }
}
@keyframes fadeinCo2_3{
  from {
      opacity:0;
      top: 54%;
  }
  to {
      opacity:1;
      top: 55%
  }
}
