.subject{
    >.mindcontent{
        -ms-user-select: none; 
        -moz-user-select: '-moz-none';
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        &.off{
            padding: 5% 5%;
            color: transparent;
            background-size: 100% 100%;
            background-image: url('../images/postit/postit.svg');
            >.line .answer{
                white-space: normal;
                pointer-events: none;
                background-image: none;
                padding: 1% 5%;
            }
        }
        &.on{
            background-image: none;
            color: #c96767;
            >.line .answer{
                white-space: normal;
                pointer-events: none;
                background-image: none;
                padding: 1% 5%;
            }
        }
        >.line .answer{
            white-space: nowrap;
            color: transparent;
            background-size: 100% 100%;
            background-image: url('../images/postit/postit.svg');
            padding: 1% 5%;
            &.on{
                background-image: none;
                color: #c96767;
                font-weight: bold;
            }
        }
    }
}


.content{
    >.mindcontent{
        width: 100%;
        // padding-top: 10px;
        // padding-bottom: 10px;
        .line{
            .marble1{
                display: inline;
                color: white;
                background-size: 100% 100%;
                background-image: url('../images/marblenum/marble_num1.png');
            }
            .marble2{
                display: inline;
                color: white;
                background-size: 100% 100%;
                background-image: url('../images/marblenum/marble_num2.png');
            }
            .marble3{
                display: inline;
                color: white;
                background-size: 100% 100%;
                background-image: url('../images/marblenum/marble_num3.png');
            }
            .marble4{
                display: inline;
                color: white;
                background-size: 100% 100%;
                background-image: url('../images/marblenum/marble_num4.png');
            }
            .marble5{
                display: inline;
                color: white;
                background-size: 100% 100%;
                background-image: url('../images/marblenum/marble_num5.png');
            }
            .marble6{
                display: inline;
                color: white;
                background-size: 100% 100%;
                background-image: url('../images/marblenum/marble_num6.png');
            }
            .answer{
                -ms-user-select: none; 
                -moz-user-select: '-moz-none';
                -khtml-user-select: none;
                -webkit-user-select: none;
                user-select: none;
                white-space: nowrap;
                color: transparent;
                background-size: 100% 100%;
                background-image: url('../images/postit/postit.svg');
                padding: 1% 5%;
                font-family: 'NanumGothicExtraBold';
                &.on{
                    background-image: none;
                    color: #c96767;
                    font-weight: bold;
                    .answer_img{ 
                        height: 35px;
                        visibility: hidden;
                    }
                    .answer_front{
                        height: fit-content;
                        position: relative;
                        text-align: center;
                        vertical-align: middle;
                        color: transparent;
                        background-size: 100% 100%;
                        background-image: none;
                    }
                    .answer_body{
                        height: fit-content;
                        position: relative;
                        text-align: center;
                        vertical-align: middle;
                        color: #c96767;
                        background-size: 100% 100%;
                        background-image: none;
                    }
                    .answer_back{
                        height: fit-content;
                        position: relative;
                        text-align: center;
                        vertical-align: middle;
                        color: transparent;
                        background-size: 100% 100%;
                        background-image: none;
                    }
                }
                >.answer_img{
                    height: 35px;
                }
                >.answer_front{
                    height: fit-content;
                    position: relative;
                    text-align: center;
                    vertical-align: middle;
                    color: transparent;
                    // background-size: 100% 100%;
                    // background-image: url('../images/postit/postfront.svg');
                }
                >.answer_body{
                    height: fit-content;
                    position: relative;
                    text-align: center;
                    vertical-align: middle;
                    color: transparent;
                    // background-size: 100% 100%;
                    // background-image: url('../images/postit/postbody.svg');
                }
                >.answer_back{
                    height: fit-content;
                    position: relative;
                    text-align: center;
                    vertical-align: middle;
                    color: transparent;
                    // background-size: 100% 100%;
                    // background-image: url('../images/postit/postback.svg');
                }
            }
        }
    }
}
