$common-border: 0.2em solid #ffb8b8;
$sub-themes-width: 14%;
$sub-themes-height: 100%;
$sub-themes-padding: 15% 5%;
$sub-themes-border-radius: 46%;
$sub-themes-font-size: 1.8em;
$content-font-size: 1.3em;
$content-border-radius: 0.5em;
$content-font-family: 'NanumGothic';
$background: rgb(237, 140, 140, 0.25);
$artwork-max-width: 55%;
$artwork-max-height: 71%;
$text-padding-left: 1em;
$text-indent: -0.9em;

@media (min-aspect-ratio: 16/9) {
  .mindmap2-wrap{
    width: 177.777777vh;
    height: 100%;
    font-size: 1.77vh;
    >{
      .header{
        height: 10%;
        width: 177.777777vh;
      }
      .contents{
        height: 82vh;
        width: 177.77777vh;
        top: calc(10%);
        position: absolute;
      }
      .footer{
        height: 8%;
        width: 177.777777vh;
        top: 100vh;
        transform: translate(0%, -100%);
        
      }
    }
  }
}

@media (max-aspect-ratio: 16/9) {
  .mindmap2-wrap{
    width: 100vw;
    height: 56.25vw;
    font-size: 1vw;
    >{
      .header{
        height: 5.625vw;
        width: 100%;
      }
      .contents{
        height: 46.1vw;
        width: 100vw;
        position: absolute;
        top: 51%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .footer{
        height: 4.5vw;
        width: 100%;
        top: 100vh;
        transform: translate(0%, -100%);
      }
    }
  }
}

.mindmap2-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  > {
    .header {
      top: 0;
      position: absolute;
      background-color: #F2D6A5;
      background-image: url('../images/top.png');
      background-size: 100% 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 0.4em solid;
      border-radius: 0 0 1.8em 1.8em;
      border-color: #996E4B;
      display: flex;
      justify-content: space-between;
      > .logo {
        width: 11%;
        margin-left: 9%;
      }
      > .center {
        width: 30%;
        margin-right: 5%;
        display: flex;

        > .choco {
          width: 20%;
          height: 10%;
          margin-right: 7%;
        }

        h1 {
          margin: auto 0;
          font-size: 2.6em;
          font-weight: bolder;
          color: #6e462c;
        }
      }

      a {
        width: 4%;
        margin-right: 7%;
        >.exit {
          width: 100%;}
      }

      h1 {
        margin: auto 0;
        font-size: 2.6em;
        color: #6e462c;
      }
    }

    .contents {
      display: flex;
      align-items: center;
      white-space: pre-wrap;
      word-break: keep-all;

      > .mindmap-box {
        width: 100%;
        height: 100%;
        > .subject {
          width: 100%;
          height: 100%;
          position: relative;

          > {
            .subject-wrap {
              height: 26.5%;
              width: 18%;
              top: 34%;
              left: 4%;
              position: absolute;
              display: flex;
              align-items: center;
              display: flex;
              text-align: center;
              justify-content: center;
              z-index: 1;
              > {
                .background {
                  height: 100%;
                  width: 100%;
                }

                .text {
                  width: 100%;
                  color: rgb(255, 255, 255);
                  font-weight: 800;
                  font-size: 2em;
                  position: absolute;
                  left: 50%;
                  top: 51%;
                  transform: translate(-50%, -50%);
                  padding: 0 2%;
                  line-height: 1.2;
                }
              }
            }
            .item1 {
              position: absolute;
              width: 100%;
              height: 20%;
              top: 14%;
              left: -58%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: flex-end;
              z-index: 2;
              > .subject {
                position: relative;
                text-align: center;
                color: rgb(84, 84, 84);
                font-size: $sub-themes-font-size;
                font-weight: 800;
                padding: 0 1%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: $sub-themes-width;
                height: $sub-themes-height;
                background: $background;
                border: $common-border;
                border-radius: $sub-themes-border-radius;
                line-height: 1.2;
                > .arrow {
                    position: absolute;
                    width: 82%;
                    height: 60%;
                    left: -89%;
                    top: 40%;
                }
                > .dot_arrow {
                  position: absolute;
                  width: 215%;
                  height: 65%;
                  left: 106%;
                  top: -24%;
                }
                > .artwork {
                  position: absolute;
                  max-width: $artwork-max-width;
                  max-height: $artwork-max-height;
                  bottom: 69%;
                  right: 103%;
                }
              }
              > .content {
                font-family: $content-font-family;
                position: absolute;
                color: #575252;
                font-weight: 800;
                padding: 0.5% 0.5%;
                width: 23%;
                height: fit-content;
                top: -31%;
                right: -53%;
                font-size: $content-font-size;
                background: $background;
                border: $common-border;
                border-radius: $content-border-radius;
                  > .contenttext{
                    display: flex;
                  }
                  >.mindcontent >.line{
                    text-indent: 0;
                    padding-left: $text-padding-left;                
                  }
             }

            }
            .item2 {
              position: absolute;
              width: 100%;
              height: 20%;
              top: 39%;
              left: -62%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: flex-end;
   
              > .subject {
                position: relative;
                left: 4%;
                text-align: center;
                color: rgb(84, 84, 84);
                font-size: $sub-themes-font-size;
                font-weight: 800;
                padding: 0 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: $sub-themes-width;
                height: $sub-themes-height;
                background: $background;
                border-width: medium;
                border: $common-border;
                border-radius: $sub-themes-border-radius;
                line-height: 1.2;
                > .arrow{
                  position: absolute;
                  width: 43%;
                  height: 20%;
                  left: -47%;
                  top: 40%;
                }
                > .dot_arrow{
                  position: absolute;
                  width: 36%;
                  height: 25%;
                  left: 99%;
                  top: -7%;
                }
                > .artwork {
                  position: absolute;
                  max-width: 47%;
                  max-height: 71%;
                  bottom: 72%;
                  right: 100%; 
                }
              }
              > .content {
                font-family: $content-font-family;
                position: absolute;
                padding: 0 10px;
                left: 109%;
                top: -36%;
                color: #575252;
                font-size: $content-font-size;
                font-weight: 800;
                padding: 0.5% 0.5%;
                display: flex;
                align-items: center;
                width: 23%;
                height: fit-content;
                background: $background;
                border-width: medium;
                border: $common-border;
                border-radius: $content-border-radius;
                >.mindcontent >.line{
                  text-indent: $text-indent;
                  padding-left: $text-padding-left;    
                  ;
                }
              }
            }
            .item3 {
              position: absolute;
              width: 100%;
              height: 20%;
              top: 65%;
              left: -64%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: flex-end;
              > .subject {
                text-align: center;
                position: relative;
                color: rgb(84, 84, 84);
                font-size: $sub-themes-font-size;
                font-weight: 800;
                padding: 0 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: $sub-themes-width;
                height: $sub-themes-height;
                background: $background;
                border: $common-border;
                border-radius: $sub-themes-border-radius;
                line-height: 1.2;
                > .arrow{
                  position: absolute;
                  width: 42%;
                  height: 54%;
                  left: -39%;
                  top: -32%;
                }
                > .dot_arrow{
                  position: absolute;
                  width: 264%;
                  height: 79%;
                  left: 103%;
                  top: 28%;
                }
                > .artwork{
                  position:absolute;
                  bottom: 43%;
                  left: 107%;
                  max-width: $artwork-max-width;
                  max-height: $artwork-max-height;
                }
              }
              > .content {
                font-family: $content-font-family;
                position: absolute;
                top: 14%;
                left: 136%;
                color: #575252;
                font-size: $content-font-size;
                font-weight: bold;
                padding: 0.5% 0.5%;
                display: flex;
                align-items: center;
                width: 25%;
                height: fit-content;
                background: $background;
                border-width: medium;
                border: $common-border;
                border-radius: $content-border-radius;
                >.mindcontent >.line{
                  text-indent: $text-indent;
                  padding-left: $text-padding-left;    
                }
              }
            }
          }
        }
      }
    }
    .footer {
      position: absolute;
      background-image: url('../images/bottom.png');
      background-color: #F2D6A5;
      background-size: 100% 100%;
      font-size: 1.3em;
      font-weight: 800;
      color: #6e462c;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 0.3em solid;
      border-radius: 1.8em 1.8em 0 0;
      border-color: #996E4B;
    }
  }
}
