// $sub-themes-background-color
// $$sub-themes-border
//$sub-themes-font-color
$sub-themes-padding: 0 15px;
$content-padding: 5% 10%;
$sub-themes-width: 13vw;
$sub-themes-height: 17vh;
$sub-themes-padding: 10% 5%;
$sub-themes-border-radius: 50%;
$sub-themes-font-size: 1.7vw;
$content-font-size: 1.4vw;
$content-border-radius: 15px;
$content-arrow-z-index: -99;


@media (min-aspect-ratio: 16/9) {
  .mindmap-wrap{
    width: 177.777777vh;
    height: 100vh;
    font-size: 1.77vh;
    >{
      .header{
        height: 10%;
        width: 177.777777vh;
      }
      .contents{
        height: 82vh;
        width: 177.77777vh;
        top: calc(10%);
        position: absolute;
      }
      .footer{
        height: 8%;
        width: 177.777777vh;
      }
    }
  }
}

@media (max-aspect-ratio: 16/9) {
  .mindmap-wrap{
    width: 100vw;
    height: 56.25vw;
    font-size: 1vw;
    >{
      .header{
        height: 5.625vw;
        width: 100%;
      }
      .contents{
        height: 46.1vw;
        width: 100vw;
        position: absolute;
        top: 51%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .footer{
        height: 4.5vw;
        width: 100%;
      }
    }
  }
}

.mindmap-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  > {
    .header {
      top: 0;
      position: absolute;
      background-color: #F2D6A5;
      background-image: url('../images/top.png');
      background-size: 100% 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: solid;
      border-radius: 0 0 36px 36px;
      border-color: #996E4B;
      display: flex;
      justify-content: space-between;
      > .logo {
        margin-left: 8%;
      }
      > .center {
        width: 30%;
        margin-right: 10%;
        display: flex;

        > .choco {
          width: 16%;
          height: 10%;
          margin-right: 7%;
        }

        h1 {
          margin: auto 0;
          font-size: 300%;
          font-weight: 800;
          color: #6e462c;
        }
      }

      a {
        width: 4%;
        margin-right: 7%;
        >.exit {
          width: 100%;}
      }

      h1 {
        margin: auto 0;
        font-size: 300%;
        color: #6e462c;
      }
    }

    .contents {
      font-size: 2vh;
      display: flex;
      align-items: center;
      white-space: pre-wrap;
      word-break: keep-all;

      > .mindmap-box {
        width: 100%;
        height: 100%;
        > .subject {
          width: 100%;
          height: 100%;
          position: relative;

          > {
            .subject-wrap {
              width: 100%;
              height: 100%;
              margin-top: 0%;
              margin-left: 0%;
              position: absolute;
              display: flex;
              align-items: center;
              display: flex;
              text-align: center;
              justify-content: center;
              > {
                .background {
                  height: 26.3%;
                  width: 18%;
                }

                .text {
                  color: rgb(255, 255, 255);
                  font-weight: 800;
                  font-size: 2vw;
                  width: 100%;
                  position: absolute;
                  left: 50%;
                  top: 51%;
                  transform: translate(-50%, -50%);
                  padding: 0 10px;
                  line-height: 1.2;
                }
              }
            }
            .item1 {
              position: absolute;
              width: 20vw;
              height: 45vh;
              margin-top: 0%;
              margin-left: 0%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: flex-end;

              > .subject {
                position: relative;
                text-align: center;
                color: rgb(84, 84, 84);
                font-size: $sub-themes-font-size;
                font-weight: 800;
                padding: 0 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: $sub-themes-width;
                height: $sub-themes-height;
                background-color: rgb(255, 224, 224);
                border: solid rgb(255, 184, 184);
                border-radius: 50%;
                line-height: 1.2;
                > .arrow {
                    position: absolute;
                    width: 6vw;
                    height: 10vh;
                    left: 13vw;
                    top: 12vh;
                }
                > .dot_arrow {
                  position: absolute;
                  width: 5vw;
                  height: 14vh;
                  left: -3vw;
                  top: 15vh;
                }
                
              }
              > .content {
                padding: 0 10px;
                color: #575252;
                font-weight: 800;
                padding: 10px 20px;
                width: 25vw;
                height: fit-content;
                font-size: $content-font-size;
                background-color: #ffe0e0;
                border-width: medium;
                border: solid #ffb8b8;
                border-radius: 15px;
                > .contenttext{
                  display: flex;
                }
            }

              }
            }

            .item2 {
              position: absolute;
              margin-top: 0%;
              margin-left: 0%;
              width: 20vw;
              display: flex;
              flex-direction: column;
              > .subject {
                position: relative;
                left: 5%;
                text-align: center;
                color: rgb(84, 84, 84);
                font-size: $sub-themes-font-size;
                font-weight: 800;
                padding: 0 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: $sub-themes-width;
                height: $sub-themes-height;
                background-color: rgb(255, 224, 224);
                border-width: medium;
                border: solid rgb(255, 184, 184);
                border-radius: 50%;
                line-height: 1.2;
                > .arrow{
                  position: absolute;
                  width: 9vw;
                  height: 6vh;
                  left: -3vw;
                  top: 18vh;
              }
              > .dot_arrow{
                position: absolute;
                width: 8vw;
                height: 13vh;
                left: 8vw;
                top: 14vh;
                z-index: $content-arrow-z-index;
              }
              }
              > .content {
                position: absolute;
                padding: 0 10px;
                left: 18vw;
                bottom: 7vh;
                color: #575252;
                font-size: $content-font-size;
                font-weight: 800;
                padding: 10px 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 22vw;
                height: fit-content;
                background-color: #ffe0e0;
                border-width: medium;
                border: solid #ffb8b8;
                border-radius: 15px;
            }
            }

            .item3 {
              position: absolute;
              width: 20vw;
              margin-top: 0%;
              margin-left: 0%;
              display: flex;
              > .subject {
                text-align: center;
                position: relative;
                color: rgb(84, 84, 84);
                font-size: $sub-themes-font-size;
                font-weight: 800;
                padding: 0 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: $sub-themes-width;
                height: $sub-themes-height;
                background-color: rgb(255, 224, 224);
                border-width: medium;
                border: solid rgb(255, 184, 184);
                border-radius: 50%;
                line-height: 1.2;
                > .arrow{
                  position: absolute;
                  width: 6vw;
                  height: 11vh;
                  left: -6.5vw;
                  top: 3vh;
                }
                > .dot_arrow{
                  position: absolute;
                  width: 9vw;
                  height: 6vh;
                  left: 8vw;
                  top: 17vh;
                }
              }
              > .content {
                position: absolute;
                bottom: -8vh;
                left: 18vw;
                color: #575252;
                font-size: $content-font-size;
                font-weight: 800;
                padding: 10px 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 22vw;
                height: fit-content;
                background-color: #ffe0e0;
                border-width: medium;
                border: solid #ffb8b8;
                border-radius: 15px;
            }
            }
          }
        }
      }
      .footer {
        position: absolute;
        bottom: 0;
        background-image: url('../images/bottom.png');
        background-color: #F2D6A5;
        background-size: 100% 100%;
        font-size: 1.3em;
        font-weight: 800;
        color: #6e462c;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: solid;
        border-radius: 36px 36px 0 0;
        border-color: #996E4B;
      }
  }
  @media screen and (max-width: 600px) {
    .mindmap-wrap{
      width: 100px;
    }
  }
  @media all and (min-width:768px) and (max-width:1080px) {}
  /* '모든 디바이스 & 최소 너비가 768 이상 & 최대 너비가 1080 이하'라는 조건을 모두 만족할 때 */
  @media (min-height: 680px), screen and (orientation: portrait) {}
  /* '최소 높이가 680 이상'이거나 '세로 모드의 스크린 기기' 중 하나를 만족하는 경우에 적용*/
}