$common-border: 6px solid #ffb8b8;
$sub-themes-width: 13.5%;
$sub-themes-height: 38%;
$sub-themes-padding: 15% 5%;
$sub-themes-border-radius: 46%;
$sub-themes-font-size: 1.7vw;
$content-font-size: 1.4vw;
$content-border-radius: 15px;

@media (min-aspect-ratio: 16/9) {
  .mindmap-wrap{
    width: 177.777777vh;
    height: 100%;
    font-size: 1.77vh;
    >{
      .header{
        height: 10%;
        width: 177.777777vh;
      }
      .contents{
        height: 82vh;
        width: 177.77777vh;
        top: calc(10%);
        position: absolute;
      }
      .footer{
        height: 8%;
        width: 177.777777vh;
        top: 100vh;
        transform: translate(0%, -100%);
        
      }
    }
  }
}

@media (max-aspect-ratio: 16/9) {
  .mindmap-wrap{
    width: 100vw;
    height: 56.25vw;
    font-size: 1vw;
    >{
      .header{
        height: 5.625vw;
        width: 100%;
      }
      .contents{
        height: 46.1vw;
        width: 100vw;
        position: absolute;
        top: 51%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .footer{
        height: 4.5vw;
        width: 100%;
        top: 100vh;
        transform: translate(0%, -100%);
      }
    }
  }
}

.mindmap-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  > {
    .header {
      top: 0;
      position: absolute;
      background-color: #F2D6A5;
      background-image: url('../images/top.png');
      background-size: 100% 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: solid;
      border-radius: 0 0 36px 36px;
      border-color: #996E4B;
      display: flex;
      justify-content: space-between;
      > .logo {
        margin-left: 8%;
      }
      > .center {
        width: 30%;
        margin-right: 10%;
        display: flex;

        > .choco {
          width: 16%;
          height: 10%;
          margin-right: 7%;
        }

        h1 {
          margin: auto 0;
          font-size: 300%;
          font-weight: 800;
          color: #6e462c;
        }
      }

      a {
        width: 4%;
        margin-right: 7%;
        >.exit {
          width: 100%;}
      }

      h1 {
        margin: auto 0;
        font-size: 300%;
        color: #6e462c;
      }
    }

    .contents {
      display: flex;
      align-items: center;
      white-space: pre-wrap;
      word-break: keep-all;

      > .mindmap-box {
        width: 100%;
        height: 100%;
        > .subject {
          width: 100%;
          height: 100%;
          position: relative;

          > {
            .subject-wrap {
              height: 26.5%;
              width: 18%;
              margin-top: 15%;
              margin-left: 39%;
              position: absolute;
              display: flex;
              align-items: center;
              display: flex;
              text-align: center;
              justify-content: center;
              z-index: 1;
              > {
                .background {
                  height: 100%;
                  width: 100%;
                }

                .text {
                  width: 100%;
                  color: rgb(255, 255, 255);
                  font-weight: 800;
                  font-size: 2em;
                  position: absolute;
                  left: 50%;
                  top: 51%;
                  transform: translate(-50%, -50%);
                  padding: 0 2%;
                  line-height: 1.2;
                }
              }
            }
            .item1 {
              position: absolute;
              width: 100%;
              height: 50%;
              margin-top: 6%;
              margin-left: -64%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: flex-end;
              z-index: 2;
              > .subject {
                position: relative;
                text-align: center;
                color: rgb(84, 84, 84);
                font-size: 2em;
                font-weight: 800;
                padding: 0 1%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: $sub-themes-width;
                height: $sub-themes-height;
                background-color: rgb(255, 224, 224);
                border: $common-border;
                border-radius: $sub-themes-border-radius;
                line-height: 1.2;
                > .arrow {
                    position: absolute;
                    width: 40%;
                    height: 42%;
                    left: 100%;
                    top: 89%;
                }
                > .dot_arrow {
                  position: absolute;
                  width: 37%;
                  height: 80%;
                  left: -16%;
                  top: 100%;
                }
              }
              > .content {
                position: absolute;
                color: #575252;
                font-weight: 800;
                padding: 0.5% 0.5%;
                width: 25%;
                height: fit-content;
                top: 68%;
                right: 6%;
                font-size: 1.3em;
                background-color: #ffe0e0;
                border-width: medium;
                border: $common-border;
                border-radius: 0.5em;
                  > .contenttext{
                    display: flex;
                  }
             }

            }
            .item2 {
              position: absolute;
              width: 100%;
              height: 50%;
              margin-top: 10%;
              margin-left: -32%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: flex-end;
   
              > .subject {
                position: relative;
                left: 5%;
                text-align: center;
                color: rgb(84, 84, 84);
                font-size: 2em;
                font-weight: 800;
                padding: 0 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: $sub-themes-width;
                height: $sub-themes-height;
                background-color: rgb(255, 224, 224);
                border-width: medium;
                border: $common-border;
                border-radius: $sub-themes-border-radius;
                line-height: 1.2;
                > .arrow{
                  position: absolute;
                  width: 77%;
                  height: 45%;
                  left: -23%;
                  top: 110%;
                }
                > .dot_arrow{
                  z-index: -99;
                  position: absolute;
                  width: 64%;
                  height: 99%;
                  left: 53%;
                  top: -71%;
                }
              }
              > .content {
                position: absolute;
                padding: 0 10px;
                left: 109%;
                top: -33%;
                color: #575252;
                font-size: 1.3em;
                font-weight: 800;
                padding: 0.5% 0.5%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20%;
                height: fit-content;
                background-color: #ffe0e0;
                border-width: medium;
                border: $common-border;
                border-radius: 0.5em;
              }
            }
            .item3 {
              position: absolute;
              width: 100%;
              height: 50%;
              margin-top: 28%;
              margin-left: -28%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: flex-end;
              > .subject {
                text-align: center;
                position: relative;
                color: rgb(84, 84, 84);
                font-size: 2em;
                font-weight: 800;
                padding: 0 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: $sub-themes-width;
                height: $sub-themes-height;
                background-color: rgb(255, 224, 224);
                border-width: medium;
                border: $common-border;
                border-radius: $sub-themes-border-radius;
                line-height: 1.2;
                > .arrow{
                  position: absolute;
                  width: 45%;
                  height: 79%;
                  left: -50%;
                  top: -18%;
                }
                > .dot_arrow{
                  position: absolute;
                  width: 67%;
                  height: 40%;
                  left: 60%;
                  top: 110%;
                }
              }
              > .content {
                position: absolute;
                bottom: 36%;
                left: 104%;
                color: #575252;
                font-size: 1.3em;
                font-weight: 800;
                padding: 0.5% 0.5%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20%;
                height: fit-content;
                background-color: #ffe0e0;
                border-width: medium;
                border: $common-border;
                border-radius: 0.5em;
              }
            }
          }
        }
      }
    }
    .footer {
      position: absolute;
      background-image: url('../images/bottom.png');
      background-color: #F2D6A5;
      background-size: 100% 100%;
      font-size: 1.3em;
      font-weight: 800;
      color: #6e462c;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: solid;
      border-radius: 1.8em 1.8em 0 0;
      border-color: #996E4B;
    }
  }
}
