@import 'keyframe.scss';


.subject{
    >.mindcontent{
        -ms-user-select: none; 
        -moz-user-select: '-moz-none';
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        padding: 5% 5%;
        &.off,&.ex{
            >.line .answer{
                color : rgb(70, 108, 197);
                white-space: normal;
                pointer-events: none;
                background-image: none;
                padding: 0% 0%;
                >.answer_img{
                    display: none;
                    background-size: 100% 100%;
                    background-image: none;
                    position: absolute;
                    color: transparent;
                    padding: 0% 0%;
                }
            }
        }
        &.on{
            color : rgb(70, 108, 197);
            >.line .answer{
                color : rgb(70, 108, 197);
                white-space: normal;
                pointer-events: none;
                background-image: none;
                padding: 0% 0%;
                >.answer_img{
                    display: none;
                    background-size: 100% 100%;
                    background-image: none;
                    position: absolute;
                    color: transparent;
                    padding: 0% 0%;
                }
            }
            >.mindcontent_img{
                animation: forwards !important;
                animation-duration: 1s !important;
                animation-name: slidout !important;
            }
        }
        >.mindcontent_img{
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0%;
            top: 0%;
            background-size: 100% 100%;
            background-image: url('../images/postit/postit.svg');
            color: transparent;
            z-index: 1;
        }
        >.line .answer{
            display: inline-block;
            white-space: nowrap;
            color : transparent;
            padding: 1% 3%;
            &.on{
                color : rgb(70, 108, 197);
                font-weight: bold;
                >.answer_img{
                    animation: forwards !important;
                    animation-duration: 1s !important;
                    animation-name: slidout !important;
                }
            }
            >.answer_img{
                width: 100%;
                height: 100%;
                left: 0%;
                top: 0%;
                background-size: 100% 100%;
                background-image: url('../images/postit/postit.svg');
                position: absolute;
                color: transparent;
            }
          
        }
    }
}


.content{
    >.mindcontent{
        width: 100%;
        // padding-top: 10px;
        // padding-bottom: 10px;
        .line{
            .marble1{
                display: inline;
                color: white;
                background-size: 100% 100%;
                background-image: url('../images/marblenum/marble_num1.png');
            }
            .marble2{
                display: inline;
                color: white;
                background-size: 100% 100%;
                background-image: url('../images/marblenum/marble_num2.png');
            }
            .marble3{
                display: inline;
                color: white;
                background-size: 100% 100%;
                background-image: url('../images/marblenum/marble_num3.png');
            }
            .marble4{
                display: inline;
                color: white;
                background-size: 100% 100%;
                background-image: url('../images/marblenum/marble_num4.png');
            }
            .marble5{
                display: inline;
                color: white;
                background-size: 100% 100%;
                background-image: url('../images/marblenum/marble_num5.png');
            }
            .marble6{
                display: inline;
                color: white;
                background-size: 100% 100%;
                background-image: url('../images/marblenum/marble_num6.png');
            }
            .answer{
                display: inline-block;
                -ms-user-select: none; 
                -moz-user-select: '-moz-none';
                -khtml-user-select: none;
                -webkit-user-select: none;
                user-select: none;
                white-space: nowrap;
                color: transparent;
                padding: 1% 3%;
                font-family: 'NanumGothicExtraBold';
                &.on{
                    color : rgb(70, 108, 197);
                    font-weight: bold;
                    >.answer_img{
                        animation: forwards !important;
                        animation-duration: 1s !important;
                        animation-name: slidout !important;
                    }
                    // .answer_img{ 
                    //     position: absolute;
                    //     background-size: 100% 100%;
                    //     background-image: none;
                    //     color: transparent;
                    //     padding: 1% 5%;
                    // }
                }
                >.answer_img{
                    width: 100%;
                    height: 100%;
                    left: 0%;
                    top: 0%;
                    position: absolute;
                    background-size: 100% 100%;
                    background-image: url('../images/postit/postit.svg');
                    color: transparent;
                }
            }
        }
    }
}
