.mindmap-wrap{
  width: 100%;
  height: 100%;
  justify-content: center;
}
.mindmap-wrap >.header {
  display: flex;
  align-items: center;
}
.mindmap-wrap >.header >.logo {
  background-color: white;
}
.mindmap-wrap >.header h1 {}
.mindmap-wrap >.contents {}
.mindmap-wrap >.footer {}