$common-border: 0.2em solid #ffb8b8;
$background: rgb(237, 140, 140, 0.25);
$center-font-size: 4em;
$sub-themes-width: 14%;
$sub-themes-height: 100%;
$sub-themes-padding: 15% 5%;
$sub-themes-border-radius: 46%;
$sub-themes-font-size: 3em;
$content-font-size: 2.6em;
$content-border-radius: 0.5em;
$artwork-max-width: 10%;
$artwork-max-height: 75%;
$text-padding-left: 0.5em;
$text-indent: 0em;
$animation-duration: 0.5s;
$animation-step1: 0.5s;
$animation-step2: 1s;
$animation-step3: 1.5s;
$answer-animation-delay: 2s;


@import 'keyframe2.scss';

.contents {
  > .mindmap2-box {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    display: flex;
    align-items: center;
    white-space: pre-wrap;
    word-break: keep-all;
    width: 200%;
    height: 200%;
    > .subject {
      width: 100%;
      height: 100%;
      position: relative;
      > {
        .subject-wrap {
          animation-name: shake;
          animation-delay: 0.5s;
          animation-duration: $animation-duration;
          height: 26.5%;
          width: 18%;
          top: 37%;
          left: 4%;
          position: absolute;
          display: flex;
          align-items: center;
          display: flex;
          text-align: center;
          justify-content: center;
          z-index: 1;
          > {
            .background {
              height: 100%;
              width: 100%;
            }
            .text {
              width: 90%;
              color: rgb(255, 255, 255);
              font-weight: 800;
              font-size: $center-font-size;
              position: absolute;
              left: 50%;
              top: 51%;
              transform: translate(-50%, -50%);
              padding: 0 2%;
              line-height: 1.2;
            }
          }
        }
        .item1 {
          position: absolute;
          width: 100%;
          height: 20%;
          top: 17%;
          left: -58%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
          z-index: 2;
          > .subject {
            padding: 1% 1%;
            opacity:0;
            animation: forwards;
            animation-delay:  $animation-step1;
            animation-duration: $animation-duration;
            animation-name: fadein;
            position: relative;
            text-align: center;
            color: rgb(84, 84, 84);
            font-size: $sub-themes-font-size;
            font-weight: 800;
            display: flex;
            align-items: center;
            justify-content: center;
            width: $sub-themes-width;
            height: $sub-themes-height;
            background: $background;
            border: $common-border;
            border-radius: $sub-themes-border-radius;
            line-height: 1.2;
          }
          > .arrow {
            animation: forwards;
            animation-duration: $animation-duration;
            animation-name: item1arrow_2;
            position: absolute;
            object-fit: contain;
            width: 12.3%;
            height: 58%;
            left: 73.5%;
            bottom: 0%;
          }
          > .dot_arrow {
            opacity:0;
            animation: forwards;
            animation-delay: $animation-step2;
            animation-duration: $animation-duration;
            animation-name: item1dotarrow_2;
            position: absolute;
            object-fit: contain;
            width: 29.8%;
            height: 64%;
            left: 100%;
            bottom: 55%;
          }
          > .artwork {
            opacity:0;
            position: absolute;
            animation: forwards;
            animation-delay: $animation-step1;
            animation-duration: $animation-duration;
            animation-name: fadein;
            width: $artwork-max-width;
            height: $artwork-max-height;
            bottom: 59%;
            right: 14%;
            >.artworkImg{
              width: 100%;
              height: 100%;
              object-fit: contain;
              object-position: right;
            }
          }
          > .content {         
            display: flex;
            align-items: center;
            opacity:0;
            animation: forwards;
            animation-delay: $animation-step3;
            animation-duration:  $animation-duration;
            animation-name: fadeinCo1_2;
            position: absolute;
            color: #575252;
            font-weight: 800;
            padding: 1% 1%;
            width: fit-content;
            max-width: 26%;
            top: -55%;
            left: 130%;
            font-size: $content-font-size;
            background: $background;
            border: $common-border;
            border-radius: $content-border-radius;
              > .contenttext{
                display: flex;
              }
         }

        }
        .item2 {
          position: absolute;
          width: 100%;
          height: 20%;
          top: 42%;
          left: -62%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
          > .subject {
            padding: 1% 1%;
            opacity:0;
            animation: forwards;
            animation: forwards;
            animation-delay:  $animation-step1;
            animation-duration: $animation-duration;
            animation-name: fadein;
            position: relative;
            left: 4%;
            text-align: center;
            color: rgb(84, 84, 84);
            font-size: $sub-themes-font-size;
            font-weight: 800;
            display: flex;
            align-items: center;
            justify-content: center;
            width: $sub-themes-width;
            height: $sub-themes-height;
            background: $background;
            border-width: medium;
            border: $common-border;
            border-radius: $sub-themes-border-radius;
            line-height: 1.2;
          }
          > .arrow{
            animation: forwards;
            animation-duration: $animation-duration;
            animation-name: item2arrow_2;
            position: absolute;
            object-fit: contain;
            width: 6%;
            height: 18%;
            left: 84%;
            top: 38%;
          }
          > .dot_arrow{
            opacity:0;
            animation: forwards;
            animation-delay: $animation-step2;
            animation-duration: $animation-duration;
            animation-name: item2dotarrow_2;
            position: absolute;
            object-fit: contain;
            width: 5%;
            height: 23%;
            left: 104%;
            bottom: 51%;
          }
          > .artwork {
            opacity:0;
            position: absolute;
            animation: forwards;
            animation-delay: $animation-step1;
            animation-duration: $animation-duration;
            animation-name: fadein;
            width: $artwork-max-width;
            height: $artwork-max-height;
            top: 100%;
            left: 98%; 
            >.artworkImg{
              width: 100%;
              height: 100%;
              object-fit: contain;
              object-position: left;
            }
          }
          > .content {
            transform: translate(0%, -39%);
            display: flex;
            align-items: center;
            opacity:0;
            animation: forwards;
            animation-delay: $animation-step3;
            animation-duration:  $animation-duration;
            animation-name: fadeinCo2_2;
            position: absolute;
            left: 109%;
            top: 12%;
            color: #575252;
            font-size: $content-font-size;
            font-weight: 800;
            display: flex;
            align-items: center;
            padding: 1% 1%;
            width: fit-content;
            max-width: 23%;
            background: $background;
            border-width: medium;
            border: $common-border;
            border-radius: $content-border-radius;
          }
        }
        .item3 {
          position: absolute;
          width: 100%;
          height: 20%;
          top: 68%;
          left: -64%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
          > .subject {
            padding: 1% 1%;
            opacity:0;
            animation: forwards;
            animation: forwards;
            animation-delay:  $animation-step1;
            animation-duration: $animation-duration;
            animation-name: fadein;
            text-align: center;
            position: relative;
            color: rgb(84, 84, 84);
            font-size: $sub-themes-font-size;
            font-weight: 800;
            display: flex;
            align-items: center;
            justify-content: center;
            width: $sub-themes-width;
            height: $sub-themes-height;
            background: $background;
            border: $common-border;
            border-radius: $sub-themes-border-radius;
            line-height: 1.2;
          }
          > .arrow{
            animation: forwards;
            animation-duration: $animation-duration;
            animation-name: item3arrow_2;
            position: absolute;
            object-fit: contain;
            width: 6%;
            height: 48%;
            left: 81%;
            top: -25%;
          }
          > .dot_arrow{
            opacity:0;  
            animation: forwards;
            animation-delay: $animation-step2;
            animation-duration: $animation-duration;
            animation-name: item3dotarrow_2;
            position: absolute;
            object-fit: contain;
            width: 36%;
            height: 73%;
            left: 99%;
            bottom: -5%;
          }
          > .artwork{
            opacity:0;
            position:absolute;
            animation: forwards;
            animation-delay: $animation-step1;
            animation-duration: $animation-duration;
            animation-name: fadein;
            top: 26%;
            right: 14%;
            width: $artwork-max-width;
            height: $artwork-max-height;
            >.artworkImg{
              width: 100%;
              height: 100%;
              object-fit: contain;
              object-position: right;
            }
          }
          > .content {
            display: flex;
            align-items: center;
            opacity:0;
            animation: forwards;
            animation-delay: $animation-step3;
            animation-duration:  $animation-duration;
            animation-name: fadeinCo3_2;
            position: absolute;
            top: 34%;
            left: 135%;
            color: #575252;
            font-size: $content-font-size;
            font-weight: bold;
            display: flex;
            align-items: center;
            padding: 1% 1%;
            width: fit-content;
            max-width: 26%;
            transform: translate(0%, -50%);
            // height: fit-content;
            background: $background;
            border-width: medium;
            border: $common-border;
            border-radius: $content-border-radius;
          }
        }
      }
    }
    .subject{
      >.mindcontent {
        position: relative;        
        &.ex{
          >.mindcontent_img{
            animation: forwards;
            animation-delay: $answer-animation-delay;
            animation-duration: $animation-duration;
            animation-name: shake;
          }
        }
        >.line{
          >.answer {
            position: relative;
            &.ex{
              animation: forwards;
              animation-name: shake;
              animation-delay: $answer-animation-delay;
              animation-duration: $animation-duration;
            }         
          }
        }
      }
    }
    .content{
      >.mindcontent{
        >.line.circle{
          // text-indent: -0.9em;
        }
        >.line {
        // text-indent: $text-indent;
           
        >.answer {
          position: relative;
          &.ex{
            animation: forwards;
            animation-name: shake;
            animation-delay: $answer-animation-delay;
            animation-duration: $animation-duration;
          }         
        }
      }
     } 
    }
  }
}