.mindmap-wrap{
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.mindmap-wrap >.header {
  display:flex;
  justify-content: flex-end;
  align-items: center;
}
.mindmap-wrap >.header >.logo {
  background-color: white;
}
.mindmap-wrap >.header h1 {
  margin: auto 0;
  font-size: 5vh;
  color: #6e462c;
}
.mindmap-wrap >.contents {
  font-size: 2vh;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
  margin: 0 auto;
}

.mindmap-wrap >.contents >.mindmap-box >.subject {
  display: flex;
  position: relative;
  text-align: center;
}
.mindmap-wrap >.contents >.mindmap-box >.subject >.item1 {
  position: absolute;
  width: 30vw;
  height: 30vh;
  top: -7vw;
  right: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mindmap-wrap >.contents >.mindmap-box >.subject >.sub-subject1 {

}
.mindmap-wrap >.contents >.mindmap-box >.subject >.item2 {
  position: absolute;
  width: 50vw;
  left: 30vw;
  bottom: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mindmap-wrap >.contents >.mindmap-box >.subject >.item2 >.sub-subject2 {
}
.mindmap-wrap >.contents >.mindmap-box >.subject >.item3 {
  position: absolute;
  width: 50vw;
  left: 30vw;
  top: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mindmap-wrap >.contents >.mindmap-box >.subject >.item3 >.sub-subject3 {
}
.mindmap-wrap >.footer {}