$common-border: 0.2em solid;
$center-font-size: 4em;
$sub-themes-width: 15%;
$sub-themes-height: 38%;
$sub-themes-padding: 15% 5%;
$sub-themes-border-radius: 46%;
$sub-themes-font-size: 3.6em;
$content-font-size: 2.6em;
$content-border-radius: 0.5em;
$content-min-height: 50%;
$artwork-max-width: 14%;
$artwork-max-height: 30%;
$text-indent: -0.5em;
$padding-left: 1em;    
$text-padding-left: 0.5em;
$text-indent: 0em;
$animation-duration: 0.5s;
$animation-step1: 0.5s;
$animation-step2: 1s;
$animation-step3: 1.5s;
$answer-animation-delay: 2s;
// $content-box-width: 

@import 'keyframe3.scss';

.contents {
  > .mindmap3-box {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    display: flex;
    align-items: center;
    white-space: pre-wrap;
    word-break: keep-all;
    width: 200%;
    height: 200%;
    > .subject {
      width: 100%;
      height: 100%;
      position: relative;
      > {
        .subject-wrap {
          animation-name: shake;
          animation-delay: 0.5s;
          animation-duration: $animation-duration;
          height: 26.5%;
          width: 18%;
          top: 41%;
          left: 39%;
          position: absolute;
          display: flex;
          align-items: center;
          display: flex;
          text-align: center;
          justify-content: center;
          z-index: 1;
          > {
            .background {
              height: 100%;
              width: 100%;
            }

            .text {
              width: 100%;
              color: rgb(255, 255, 255);
              font-weight: 800;
              font-size: $center-font-size;
              position: absolute;
              left: 50%;
              top: 51%;
              transform: translate(-50%, -50%);
              padding: 0 5%;
              line-height: 1.2;
            }
          }
        }
        .item1 {
          position: absolute;
          width: 100%;
          height: 50%;
          top: 18%;
          left: -63%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
          z-index: 2;
          > .subject {
            opacity:0;
            animation: forwards;
            animation-delay: $animation-step1;
            animation-duration: $animation-duration;
            animation-name: fadein;
            position: relative;
            text-align: center;
            color: rgb(84, 84, 84);
            font-size: $sub-themes-font-size;
            font-weight: 800;
            display: flex;
            align-items: center;
            justify-content: center;
            width: $sub-themes-width;
            height: $sub-themes-height;
            border: $common-border;
            border-radius: $sub-themes-border-radius;
            line-height: 1.2;
          }
          > .arrow {
            animation: forwards;
            animation-duration: $animation-duration;
            animation-name: item1arrow_3;
            position: absolute;
            width: 6%;
            height: 16%;
            bottom: 50%;
            right: -4%;
          }
          > .dot_arrow {
            opacity:0;
            animation: forwards;
            animation-delay: $animation-step2;
            animation-duration: $animation-duration;
            animation-name: item1dotarrow_3;
            position: absolute;
            width: 3%;
            height: 26%;
            right: 12%;
            top: 36%;
          }
          > .artwork {
            opacity:0;
            animation: forwards;
            animation-delay: $animation-step1;
            animation-duration: $animation-duration;
            animation-name: fadein;
            position: absolute;
            max-width: $artwork-max-width;
            max-height: $artwork-max-height;
            bottom: 97%;
            right: 14%
          }
          > .content {
            display: flex;
            align-items: center;
            opacity:0;
            animation: forwards;
            animation-delay: $animation-step3;
            animation-duration: $animation-duration;
            animation-name: fadeinCo1_3;
            position: absolute;
            color: #575252;
            font-weight: 800;
            width: 27%;
            min-height: $content-min-height;
            top: 63%;
            right: 2%;
            font-size: $content-font-size;
            border-width: medium;
            border: $common-border;
            border-radius: $content-border-radius;
         }

        }
        .item2 {
          position: absolute;
          width: 100%;
          height: 50%;
          top: 14%;
          left: -30%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
          > .subject {
            opacity:0;
            animation: forwards;
            animation-delay: $animation-step1;
            animation-duration: $animation-duration;
            animation-name: fadein;
            position: relative;
            left: 5%;
            text-align: center;
            color: rgb(84, 84, 84);
            font-size: $sub-themes-font-size;
            font-weight: 800;
            display: flex;
            align-items: center;
            justify-content: center;
            width: $sub-themes-width;
            height: $sub-themes-height;
            border-width: medium;
            border: $common-border;
            border-radius: $sub-themes-border-radius;
            line-height: 1.2;
          }
          > .arrow{
            animation: forwards;
            animation-duration: $animation-duration;
            animation-name: item2arrow_3;
            position: absolute;
            width: 7%;
            height: 29%;
            left: 86%;
            bottom: 34%;
          }
          > .dot_arrow{
            opacity:0;
            animation: forwards;
            animation-delay: $animation-step2;
            animation-duration: $animation-duration;
            animation-name: item2dotarrow_3;
            z-index: -99;
            position: absolute;
            width: 7%;
            height: 32%;
            left: 105%;
            top: 19%;
          }
          > .artwork {
            opacity:0;
            animation: forwards;
            animation-delay: $animation-step1;
            animation-duration: $animation-duration;
            animation-name: fadein;
            position: absolute;
            max-width: $artwork-max-width;
            max-height: $artwork-max-height;
            bottom: 90%;
            left: 105%; 
          }
          > .content {
            opacity:0;
            animation: forwards;
            animation-delay: $animation-step3;
            animation-duration: $animation-duration;
            animation-name: fadeinCo2_3;
            position: absolute;
            left: 100%;
            top: 55%;
            color: #575252;
            font-size: $content-font-size;
            font-weight: 800;
            display: flex;
            align-items: center;
            width: 24%;
            min-height: $content-min-height;
            border-width: medium;
            border: $common-border;
            border-radius: $content-border-radius;
          }
        }
      }
    }
    .subject{
      >.mindcontent {
        position: relative;
        &.ex{
          >.mindcontent_img{
            animation: forwards;
            animation-delay: $answer-animation-delay;
            animation-duration: $animation-duration;
            animation-name: shake;
          }
        }
        >.line{
          >.answer {
            position: relative;
            &.ex{
              animation: forwards;
              animation-name: shake;
              animation-delay: $answer-animation-delay;
              animation-duration: $animation-duration;  
            }    
          }
        }
      }
    }
    .content{
      >.mindcontent{
        >.line {
        // text-indent: $text-indent;
        >.answer {
          &.ex{
            animation: forwards;
            animation-name: shake;
            animation-delay: $answer-animation-delay;
            animation-duration: $animation-duration;
          }         
        }
      }
     } 
    }
  }
}

