
@media (min-aspect-ratio: 16/9) {
  .Quiz-wrap{
    width: 177.777777vh;
    height: 100%;
    font-size: 1.77vh;
    >{
      .header{
        height: 10%;
        width: 177.777777vh;
      }
      .contents{
        height: 82vh;
        width: 177.77777vh;
        top: calc(10%);
        position: absolute;
      }
      .footer{
        height: 8%;
        width: 177.777777vh;
        top: 100vh;
        transform: translate(0%, -100%);
        
      }
    }
  }
}

@media (max-aspect-ratio: 16/9) {
  .Quiz-wrap{
    width: 100vw;
    height: 56.25vw;
    font-size: 1vw;
    >{
      .header{
        height: 5.625vw;
        width: 100%;
      }
      .contents{
        height: 46.1vw;
        width: 100vw;
        position: absolute;
        top: 51%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .footer{
        height: 4.5vw;
        width: 100%;
        top: 100vh;
        transform: translate(0%, -100%);
      }
    }
  }
}

.Quiz-wrap {
  > {
    .header {
      top: 0;
      position: absolute;
      background-color: #F2D6A5;
      background-image: url('../images/top.png');
      background-size: 100% 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: solid;
      border-radius: 0 0 1.8em 1.8em;
      border-color: #996E4B;
      display: flex;
      justify-content: space-between;
      > .logo {
        margin-left: 8%;
      }
      > .center {
        width: 30%;
        margin-right: 10%;
        display: flex;

        > .choco {
          width: 16%;
          height: 10%;
          margin-right: 7%;
        }

        h1 {
          margin: auto 0;
          font-size: 300%;
          font-weight: 800;
          color: #6e462c;
        }
      }

      a {
        width: 4%;
        margin-right: 7%;
        >.exit {
          width: 100%;}
      }

      h1 {
        margin: auto 0;
        font-size: 300%;
        color: #6e462c;
      }
    }

    .contents {
      width: 90%;
      height: 80.25vh;
      margin: 0 auto;

      > .quiz {
        color: rgb(124, 124, 124);
        font-weight: 800;
        font-size: 3vh;
        white-space: pre-wrap;
        counter-reset: item;
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-top: 3%;

        > .questions {
          display: flex;
          align-items: baseline;
          margin-bottom: 50px;

          >.num {
            color: rgb(201, 103, 103);
            font-size: 4vh;
          }

          > .contents {
            width: 100%;
            margin-top: 50px;

            > .question {
              display: flex;
              width: 100%;
              justify-content: space-between;
              padding-top: 30px;
            }
            .options{
              width: 90%;
              display: inline-flex;
              & .off{
                display: none;
              }
              >.option{
                padding-right: 100px;
              }
            }
            .answer{
              float: right;
              display: flex;
              &.on{
                >.answer_body{
                  position: relative;
                  padding-left: 20px;
                  padding-right: 20px;
                  text-align: center;
                  vertical-align: middle;
                  min-width: 10vw;
                  background-image: none;
                  color : red;
                  box-shadow: inset 0 -2px 0 -1px black;
                  >.answer_text{
                    visibility: visible;
                    color : red;
                  }
                  >.answer_answer{
                    display : none;
                    position: absolute;
                  }
                }
                >.answer_img{
                  visibility: hidden;
                }
              }
              >.answer_body{
                position: relative;
                padding-left: 20px;
                padding-right: 20px;
                text-align: center;
                vertical-align: middle;
                min-width: 10vw;
                color: white;
                background-size: 100% 100%;
                background-image: url('../images/pen/penbody.svg');
                >.answer_text{
                  color: transparent;
                }
                >.answer_answer{
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }
              }
              >.answer_img{
                visibility: visible;
              }
            }
          }

          &::marker {
            /* padding-inline-start: 1ch; */
          }
        }
      }
    }

    .footer {
      position: absolute;
      background-image: url('../images/bottom.png');
      background-color: #F2D6A5;
      background-size: 100% 100%;
      font-size: 1.3em;
      font-weight: 800;
      color: #6e462c;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: solid;
      border-radius: 1.8em 1.8em 0 0;
      border-color: #996E4B;
    }
  }
}