@import 'keyframe.scss'; 

@media (min-aspect-ratio: 16/9) {
  .Quiz-wrap{
    width: 177.777777vh;
    height: 100%;
    font-size: 1.77vh;
    >{
      .header{
        height: 10%;
        width: 177.777777vh;
      }
      .contents{
        height: 82vh;
        width: 177.77777vh;
        top: calc(10%);
        position: absolute;
      }
      .footer{
        height: 8%;
        width: 177.777777vh;
        top: 100vh;
        transform: translate(0%, -100%);
        
      }
    }
  }
}

@media (max-aspect-ratio: 16/9) {
  .Quiz-wrap{
    width: 100vw;
    height: 56.25vw;
    font-size: 1vw;
    >{
      .header{
        height: 5.625vw;
        width: 100%;
      }
      .contents{
        height: 46.1vw;
        width: 100vw;
        position: absolute;
        top: 51%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .footer{
        height: 4.5vw;
        width: 100%;
        top: 100vh;
        transform: translate(0%, -100%);
      }
    }
  }
}

.Quiz-wrap {
  -ms-user-select: none; 
  -moz-user-select: '-moz-none';
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  > {
    .header {
      top: 0;
      position: absolute;
      background-color: #F2D6A5;
      background-image: url('../images/top.png');
      background-size: 100% 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: solid;
      border-radius: 0 0 1.8em 1.8em;
      border-color: #996E4B;
      display: flex;
      justify-content: space-between;
      > .logo {
        width: 11%;
        margin-left: 9%;
      }
      > .center {
        width: 30%;
        margin-right: 10%;
        display: flex;

        > .choco {
          width: 20%;
          height: 10%;
          margin-right: 7%;
        }

        h1 {
          margin: auto 0;
          font-size: 2.6em;
          font-weight: 800;
          color: #6e462c;
        }
      }

      a {
        width: 4%;
        margin-right: 7%;
        >.exit {
          width: 100%;}
      }

      h1 {
        margin: auto 0;
        font-size: 2.6em;
        color: #6e462c;
      }
    }

    .contents {
      margin: 0 auto;

      > .quiz {
        color: rgb(124, 124, 124);
        font-weight: 800;
        font-size: 1.83em;
        white-space: pre-wrap;
        counter-reset: item;
        list-style-type: none;
        padding: 0;
        margin: 0% 3% 0% 3%;
        >:nth-child(1){
          opacity:0;
          animation: forwards;
          animation-delay: 0s;
          animation-duration: 0.3s;
          animation-name: fadein;
        }
        >:nth-child(2){
          opacity:0;
          animation: forwards;
          animation-delay: 0.3s;
          animation-duration: 0.3s;
          animation-name: fadein;
        }
        >:nth-child(3){
          opacity:0;
          animation: forwards;
          animation-delay: 0.6s;
          animation-duration: 0.3s;
          animation-name: fadein;
        }
        > .questions {
          display: flex;
          align-items: baseline;

          >.num {
            color: #c96767;
            font-size: 1.3em;
          }

          > .contents {
            width: 100%;
            margin-top: 5%;

            > .question {
              display: flex;
              width: 85%;
              justify-content: space-between;
            }
            .options{
              width: 100%;
              display: inline-flex;
              &.off{
                display: none;
              }
              >.option{
                width: 28%;
              }
            }
            .answer{
              float: right;
              display: flex;
              &.on{
                >.answer_body{
                  position: relative;
                  text-align: center;
                  vertical-align: middle;
                  min-width: 3em;
                  background-image: none;
                  color : #c96767;
                  box-shadow: inset 0 -0.1em 0 0 black;
                  >.answer_text{
                    visibility: visible;
                    color : #c96767;
                  }
                  >.answer_answer{
                    display : none;
                    position: absolute;
                  }
                }
                >.answer_front{
                  visibility: hidden;
                }
                >.answer_back{
                  visibility: hidden;
                }
              }
              >.answer_body{
                position: relative;
                text-align: center;
                vertical-align: middle;
                min-width: 3em;
                color: white;
                background-size: 100% 100%;
                background-image: url('../images/pen/penbody.svg');
                >.answer_text{
                  color: transparent;
                }
                >.answer_answer{
                  white-space: nowrap;
                  font-family: 'NanumGothic';
                  font-size: 0.8em;
                  font-weight: bold;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }
              }
              >.answer_front{
                margin-right: -1%;
                background-size: 100% 100%;
                background-image: url('../images/pen/penfront.svg');
                color: transparent;
                visibility: visible;
              }
              >.answer_back{
                margin-left: -1px;
                background-size: 100% 100%;
                background-image: url('../images/pen/penback.svg');
                color: transparent;
                visibility: visible;
              }
            }
          }

          &::marker {
            /* padding-inline-start: 1ch; */
          }
        }
      }
    }

    .footer {
      position: absolute;
      background-image: url('../images/bottom.png');
      background-color: #F2D6A5;
      background-size: 100% 100%;
      font-size: 1.3em;
      font-weight: 800;
      color: #6e462c;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: solid;
      border-radius: 1.8em 1.8em 0 0;
      border-color: #996E4B;
    }
  }
}