.Quiz-wrap {
  width: 90%;
  height: 80%;
}
.Quiz-wrap >.haeder{
}

.Quiz-wrap >.contents >.quiz {
  font-size: 3vh;
  white-space: pre-wrap;
}
.Quiz-wrap >.contents >.quiz >.questions{
  margin-bottom: 20px;
}
.Quiz-wrap >.contents >.quiz >.questions >.question {

}
.Quiz-wrap >.contents >.quiz >.questions >.answer {
  float: right;
}

.Quiz-wrap >.contents >.quiz >.questions::marker {  
  padding-inline-start: 1ch;
}
.Quiz-wrap >.footer {
  text-align: center;
}
